/* components/Hero.css */
.hero {
  background-image: url('../../assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Nền mờ để làm nổi bật chữ */
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  width: 50% !important;
}

.btn-primary:hover {
  background-color: #0056b3;
  display: block;
}